<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <full-calendar #calendario defaultView="timeGridWeek" locale="es" selectable="true" allDaySlot="" minTime="06:00:00" maxTime="19:00:00" editable="true" droppable="true" slotDuration="00:15:00" [header]="{
                            left: 'prev,next today',
                            center: 'title',
                            right: ''
                        }" [buttonText]="{
                            today: 'hoy'
                        }" [buttonIcons]="{
                            prev: 'left-single-arrow',
                            next: 'right-single-arrow'
                        }" [events]="calendarEvents" [plugins]="calendarPlugins" (select)="selectDate($event)" (eventRender)="renderEvents($event)" (eventClick)="clickEvent($event)" (eventResize)="updateDate($event)" (eventDrop)="dropEvent($event)">
                </full-calendar>
                <!-- <button type="submit" (click)="guardarHorario()" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button> -->
                <!-- <a (click)="eventos()" class="btn m-t-10 btn-info btn-block waves-effect waves-light">Eventos</a> -->
            </div>
        </div>
    </div>
</div>