<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/bolivar.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" action="index.html">
                    <h3 class="box-title m-b-20" style="text-align: center">REGISTRO DE ASISTENCIA</h3>
                    <label style="text-align: justify">Bienvenido al Sistema de Control de Asistencia (CODICLASES). Por favor ingresa tu cédula para registrar la asistencia a clase e ingresala de nuevo para registrar su finalización.</label>
                    <br>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <br>
                            <br>
                            <input class="form-control" type="text" required placeholder="Digite su cédula aquí"> </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-esbol btn-rounded" type="submit">Registrar Asistencia</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            Panel de administración<a routerLink="/login" class="text-info m-l-5"><b>Abrir</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->