<form>
    <div class="form-row" style="font-size: 12px">
        <div class="form-group col-md-2">
            <label for="inputUnidad">Unidad</label>
            <select id="inputUnidad" class="form-control form-control-sm">
              <option selected style="font-size: 12px">Seleccione</option>
              <option style="font-size: 12px">SIMÓN BOLIVAR</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputCedula">Cédula Docente</label>
            <input type="text" class="form-control form-control-sm" id="inputCedula">
        </div>
        <div class="form-group col-md-1">
            <label for="inputCurso">N° Curso</label>
            <input type="text" class="form-control form-control-sm" id="inputCurso">
        </div>
        <div class="form-group col-md-1">
            <label for="inputSeccion">Sección</label>
            <input type="text" class="form-control form-control-sm" id="inputSeccion">
        </div>
        <div class="form-group col-md-3">
            <label for="inputNombre">Nombres</label>
            <input type="text" class="form-control form-control-sm" id="inputNombre">
        </div>
        <div class="form-group col-md-3">
            <label for="inputApellido">Apellidos</label>
            <input type="text" class="form-control form-control-sm" id="inputApellido">
        </div>
    </div>
    <div class="form-group" style="font-size: 12px">
        <div class="table-responsive-sm">
            <table border="1" cellpadding="1" cellspacing="1" style="background: white; width:100%; cursor:pointer;">
                <thead>
                    <tr>
                        <th style="width:25%">Programa Acádemico</th>
                        <th style="width:25%">Asignatura</th>
                        <th style="width:5%">Periodo</th>
                        <th style="width:5%">Curso</th>
                        <th style="width:5%">Sección</th>
                        <th style="width:15%">Compañía</th>
                        <th style="width:10%">Fecha Inicio</th>
                        <th style="width:10%">Fecha Final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Tecnico laboral por comptencias en abastecimientos aeronauticos</th>
                        <td>Introduccion al derecho y no se que mas</td>
                        <td>1</td>
                        <td>11</td>
                        <td>3</td>
                        <td>COMPAÑIA ANTONIO NARIÑO</td>
                        <td>10-05-2019</td>
                        <td>10-05-2019</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>