<div class="card animated fadeIn">
    <div class="card-body">
        <label for="exampleFormControlTextarea1">Seleccione el/los temas vistos en clase</label>
        <select class="select2 m-b-10 select2-multiple" style="width: 100%" multiple="multiple" data-placeholder="Seleccione los temas">
            <optgroup label="Alaskan/Hawaiian Time Zone">
                <option value="AK">Alaska</option>
                <option value="HI">Hawaii</option>
            </optgroup>
            <optgroup label="Pacific Time Zone">
                <option value="CA">California</option>
                <option value="NV">Nevada</option>
                <option value="OR">Oregon</option>
                <option value="WA">Washington</option>
            </optgroup>
        </select>

        <br>

        <form>

            <br>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="exampleFormControlTextarea1">Observaciones presentadas en clase</label>
                    <textarea class="form-control" style="width: 100%" id="exampleFormControlTextarea1"></textarea>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-10">
                <label for="exampleFormControlTextarea1">Inasistencia de estudiantes (Seleccione los estudiantes que faltaron a clase)</label>
                <br>
                <select class="selectpicker" multiple data-style="form-control btn-secondary">
                    <option>Angelica Ocampo Escobar</option>
                    <option>Danny Alexander Carrillo</option>
                    <option>Maribel Jaramillo</option>
                </select>

            </div>
        </div>
    </div>
</div>