<div class="row animated fadeIn">
    <div class="col-lg-4">
        <div class="card bg-info text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">Estudiantes</h1>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" routerLink="/estudiantes">Ingresar</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-users display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">Docentes</h1>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" routerLink="/docentes">Ingresar</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-users display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">Horarios</h1>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" routerLink="/horario">Ingresar</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-calendar display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">Asignaturas</h1>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" routerLink="/materias">Ingresar</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-book display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-warning text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">Clase</h1>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" routerLink="/clase">Ingresar</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-graduation-cap display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>