<form>
    <div class="form-row" style="font-size: 12px">
        <div class="form-group col-md-2">
            <label for="inputCedula">Cédula Docente</label>
            <input type="text" class="form-control form-control-sm" id="inputCedula">
        </div>
        <div class="form-group col-md-3">
            <label for="inputNombre">Nombres</label>
            <input type="text" class="form-control form-control-sm" id="inputNombre">
        </div>
        <div class="form-group col-md-3">
            <label for="inputApellido">Apellidos</label>
            <input type="text" class="form-control form-control-sm" id="inputApellido">
        </div>
        <div class="form-group col-md-2">
            <label for="inputUnidad">Unidad</label>
            <select id="inputUnidad" class="form-control form-control-sm">
            <option selected style="font-size: 12px">Seleccione</option>
            <option style="font-size: 12px">SIMÓN BOLIVAR</option>
          </select>
        </div>

        <div class="form-group col-md-1">
            <label for="inputCurso">N° Curso</label>
            <input type="text" class="form-control form-control-sm" id="inputCurso">
        </div>
        <div class="form-group col-md-2">
            <label for="inputSeccion">Sección</label>
            <select id="inputSeccion" class="form-control form-control-sm">
          <option selected style="font-size: 12px">Seleccione</option>
          <option style="font-size: 12px">Sección 1</option>
          <option style="font-size: 12px">Sección 2</option>
          <option style="font-size: 12px">Sección 3</option>
          <option style="font-size: 12px">Sección 4</option>
          <option style="font-size: 12px">Sección 5</option>
        </select>
        </div>

        <div class="form-group col-md-3">
            <label for="inputApellido">Ciudad</label>
            <input type="text" class="form-control form-control-sm" id="inputApellido">
        </div>

        <div class="form-group col-md-2">
            <label for="inputCedula">Teléfono</label>
            <input type="text" class="form-control form-control-sm" id="inputCedula">
        </div>

        <div class="form-group col-md-4">
            <label for="inputApellido">Email</label>
            <input type="email" class="form-control form-control-sm" id="inputApellido">
        </div>
        <div class="form-group col-md-4">
            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1" style="font-size: 12px">Hora Catedra</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio2" style="font-size: 12px">Reemplazo a un docente</label>
            </div>
        </div>

    </div>


    <button type="submit" class="btn btn-primary">Registrar</button>
</form>