<div class="card">
    <div class="card-body">
        <h4 class="card-title">Módulo para la gestión de la información de los profesores</h4>
        <div class="table-responsive m-t-40">
            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">

                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Unidad</th>
                        <th>Curso</th>
                        <th>Sección</th>
                        <th>Ciudad</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1116276036</td>
                        <td>Angelica</td>
                        <td>Ocampo Escobar</td>
                        <td>Simón Bolivar</td>
                        <td>11</td>
                        <td>Sección 1</td>
                        <td>Tuluá</td>
                        <td>3166179047</td>
                        <td>ocampoescobarangelica@gmail.com</td>
                    </tr>
                    <tr>
                        <td>1112763960</td>
                        <td>Danny</td>
                        <td>Carrillo Torres</td>
                        <td>Simón Bolivar</td>
                        <td>11</td>
                        <td>Sección 3</td>
                        <td>Tuluá</td>
                        <td>312789432</td>
                        <td>danny.carrillo@gmail.com</td>
                    </tr>

                </tbody>
            </table>
            <div colspan="2">
                <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Agregar</button>
            </div>
            <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal form-material">
                                <div class="form-group">
                                    <div class="col-md-12 m-b-20">
                                        <input type="text" class="form-control" placeholder="Cédula"> </div>
                                    <div class="col-md-12 m-b-20">
                                        <input type="text" class="form-control" placeholder="Nombre"> </div>
                                    <div class="col-md-12 m-b-20">
                                        <input type="text" class="form-control" placeholder="Apellidos">
                                    </div>
                                    <div class="col-md-12 m-b-20">
                                        <select class="form-control form-white" data-placeholder="Seleccione una compañía" name="category-color">
                                                <option value="success" ng-reflect-value="success">Simón Bolivar</option>
                                                <option value="danger" ng-reflect-value="danger">La otra</option>
                                            </select>
                                    </div>
                                    <div class="col-md-12 m-b-20">
                                        <select class="form-control form-white" data-placeholder="Seleccione una sección" name="category-color">
                                            <option value="success" ng-reflect-value="success">Sección 1</option>
                                            <option value="danger" ng-reflect-value="danger">Sección 2</option>
                                            <option value="info" ng-reflect-value="info">Sección 3</option>
                                            <option value="primary" ng-reflect-value="primary">Sección 4</option>
                                            <option value="warning" ng-reflect-value="warning">Sección 5</option>
                                        </select>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Guardar</button>
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div colspan="7">
                <div class="text-right">
                    <ul class="pagination"> </ul>
                </div>
            </div>
        </div>
    </div>
</div>