<div class="row animated fadeIn">
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Introducción a la Tecnologia informatica</h4>
                <div class="myadmin-dd dd" id="nestable">
                    <ol class="dd-list">
                        <li class="dd-item" data-id="1">
                            <div class="dd-handle"> Unidad 1: Historia del computador </div>
                        </li>
                        <li class="dd-item" data-id="2">
                            <div class="dd-handle"> Unidad 2: Partes del PC </div>
                            <ol class="dd-list">
                                <li class="dd-item" data-id="3">
                                    <div class="dd-handle"> CPU </div>
                                </li>
                                <li class="dd-item" data-id="4">
                                    <div class="dd-handle"> Monitor </div>
                                </li>
                                <li class="dd-item" data-id="5">
                                    <div class="dd-handle"> Dispositivos de entrada </div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="6">
                                            <div class="dd-handle"> Teclado </div>
                                        </li>
                                        <li class="dd-item" data-id="7">
                                            <div class="dd-handle"> Mouse </div>
                                        </li>
                                        <li class="dd-item" data-id="8">
                                            <div class="dd-handle"> Tabla </div>
                                        </li>
                                    </ol>
                                </li>
                                <li class="dd-item" data-id="9">
                                    <div class="dd-handle"> Item 9 </div>
                                </li>
                                <li class="dd-item" data-id="10">
                                    <div class="dd-handle"> Item 10 </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nestable2</h4>
                <div class="myadmin-dd-empty dd" id="nestable2">
                    <ol class="dd-list">
                        <li class="dd-item dd3-item" data-id="13">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content"> Item 13 </div>
                        </li>
                        <li class="dd-item dd3-item" data-id="14">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content"> Item 14 </div>
                        </li>
                        <li class="dd-item dd3-item" data-id="14">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content"> Item 16 </div>
                        </li>
                        <li class="dd-item dd3-item" data-id="14">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content"> Item 17 </div>
                        </li>
                        <li class="dd-item dd3-item" data-id="14">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content"> Item 18 </div>
                        </li>
                        <li class="dd-item dd3-item" data-id="14">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content"> Item 19 </div>
                        </li>
                        <li class="dd-item dd3-item" data-id="15">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content"> Item 15 </div>
                            <ol class="dd-list">
                                <li class="dd-item dd3-item" data-id="16">
                                    <div class="dd-handle dd3-handle"></div>
                                    <div class="dd3-content"> Item 16 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="17">
                                    <div class="dd-handle dd3-handle"></div>
                                    <div class="dd3-content"> Item 17 </div>
                                </li>
                                <li class="dd-item dd3-item" data-id="18">
                                    <div class="dd-handle dd3-handle"></div>
                                    <div class="dd3-content"> Item 18 </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nestable3</h4>
                <div class="dd myadmin-dd" id="nestable-menu">
                    <ol class="dd-list">
                        <li class="dd-item" data-id="13">
                            <div class="dd-handle">Item 13</div>
                        </li>
                        <li class="dd-item" data-id="13">
                            <div class="dd-handle">Item 13</div>
                        </li>
                        <li class="dd-item" data-id="14">
                            <div class="dd-handle">Item 14</div>
                        </li>
                        <li class="dd-item" data-id="15">
                            <div class="dd-handle">Item 15</div>
                            <ol class="dd-list">
                                <li class="dd-item" data-id="16">
                                    <div class="dd-handle">Item 16</div>
                                </li>
                                <li class="dd-item" data-id="17">
                                    <div class="dd-handle">Item 17</div>
                                </li>
                                <li class="dd-item" data-id="18">
                                    <div class="dd-handle">Item 18</div>
                                </li>
                                <li class="dd-item" data-id="16">
                                    <div class="dd-handle">Item 19</div>
                                </li>
                                <li class="dd-item" data-id="17">
                                    <div class="dd-handle">Item 20</div>
                                </li>
                                <li class="dd-item" data-id="18">
                                    <div class="dd-handle">Item 21</div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div colspan="2">
        <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Agregar</button>
    </div>
    <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-material">
                        <div class="form-group">
                            <div class="col-md-12 m-b-20">
                                <input type="text" class="form-control" placeholder="Asignatura">
                            </div>
                            <div class="col-md-12 m-b-20">
                                <div ng-app="myApp" ng-controller="myCtrl">
                                    <button ng-click="myFunc()">Agregar Unidad</button>
                                    <div ng-show="showMe">
                                        <input type="text" class="form-control" placeholder="Unidad">
                                        <button ng-click="myFunc1()">Agregar Tema</button>
                                        <div ng-show="showMe1">
                                            <div class="controls" id="profs">
                                                <form class="input-append">
                                                    <div id="field"><input autocomplete="off" class="form-control" id="field1" name="prof1" type="text" placeholder="Unidad" data-items="8" /><button id="b1" class="btn add-more" type="button">+</button></div>

                                                </form>
                                            </div>
                                        </div>
                                        <button ng-click="myFunc2()">Agregar Subtemas</button>
                                        <div ng-show="showMe2">
                                            <div class="controls" id="profs">
                                                <form class="input-append">
                                                    <div id="field"><input autocomplete="off" class="form-control" id="field1" name="prof1" type="text" placeholder="Unidad" data-items="8" /><button id="b1" class="btn add-more" type="button">+</button></div>
                                                </form>
                                            </div>
                                        </div>





                                    </div>
                                </div>

                            </div>



                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div colspan="7">
    </div>